body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #414141;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    zoom: 140%;
}

.hud {
    display: flex;
    justify-content: space-evenly;
}

#timeIn,
#start,
#leftChoice,
#rightChoice {
    justify-content: center;
    display:block;
    margin-bottom: 1em;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: x-large; 
    height: fit-content;
}

#timeSet {
    margin: 0 auto;
}

.letters,
#instruction {
    display: flex;
    justify-content: space-evenly;
}

.history {
    display: flex;
    justify-content: center;
    ol{
        height: 200px;
        width: 50%; 
        overflow: hidden;
        overflow-y: scroll;
    }
}
#score,
#leftChoice,
#l1,
#l2,
#rightChoice,
#instruction2,
.history,
#timeSet {
    display: none;
}

a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}